// Mixins here.

@mixin border-radius($radius) {
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance:    $value;
    appearance:         $value;
}
