.sign-in {

    .btn-group {

        position: relative;

        width: auto;

        @include border-radius(1px !important);
        @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, .25));

        @include transition(background-color .218s, border-color .218s, box-shadow .218s);
        @include user-select(none);
        @include appearance(none);

        background: #fff none;
        color: #262626;

        cursor: pointer;

        outline: none;
        overflow: hidden;

        text-align: center;
        vertical-align: middle;
        white-space: nowrap;

        &.navbar-btn {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &:hover {
            @include box-shadow((0 0 3px 3px rgba(66, 133, 244, .3)));
        }

        .btn {

            &.btn-g-icon,
            &.btn-g-text {

                float: left;

                border: 0;
                @include border-radius(1px !important);
                padding: 0;

                &:hover, &:focus, &.focus {
                    color: inherit !important;
                }

            }

            &.btn-g-icon {

                margin: 1px;
                padding: 5px;

                .icon-g {

                    display: block;

                    width: 18px;
                    height: 18px;

                    background: url(/img/google/g.svg) no-repeat;
                    background-size: cover;

                }

            }

            &.btn-g-text {

                margin-left: 6px;
                margin-right: 6px;

                vertical-align: top;

                font-family: Roboto-Medium, arial, sans-serif;
                font-size: 12px;
                line-height: 30px;
                letter-spacing: .21px;

                overflow: hidden;
                white-space: nowrap;
                @include transition(width .218s);

            }

        }

        &.btn-g-blue,
        &.btn-g-red {
            border: none;
            color: #fff
        }

        &.btn-g-blue {

            background-color: #4285f4;

            &:hover {
                background-color: #4285f4;
            }

            &:active {
                background-color: #3367d6;
            }

            .btn-g-icon {
                background-color: #fff;
            }

        }

        &.btn-g-red {

            background-color: #dc4e41;

            &:active {
                background-color: #c53829;
            }

            .btn-g-icon {
                background-color: #fff;
            }

        }

        &.btn-g-white-gray {

            background-color: #fff;
            color: #757575;

            &:active {
                background-color: #eee;
                color: #6d6d6d
            }

        }

        &.btn-g-white-red {

            background-color: #fff;
            color: #dc4e41;

            &:active {
                background-color: #eee;
            }

            path {
                fill: #dc4e41;
            }

        }

    }

    .current-user {

        .navbar-nav > .dropdown {

            > a {

                padding-top: 5px;
                padding-bottom: 5px;

                height: $navbar-height;

                img {
                    height: $navbar-height - 10px;
                }

            }

            .dropdown-menu .disabled a {
                cursor: default !important;
            }

        }

    }

}
