# Want to add options visit the link below for a full list of options to add!
# http://EditorConfig.org
# Get a plugin for your choice of editors at: http://editorconfig.org/#download
root = true

# Unix-style newlines with a newline ending every file
# Set default charset
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 space indentation
[**/*.{js,json,html,less,sass,scss,md,yml,yaml}]
indent_size = 4

# Matches the exact files either package.json, bower.json, or .travis.yml
[{package.json,bower.json,.travis.yml}]
indent_size = 2
insert_final_newline = false
