<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1 class="page-header">
                {{ $ctrl.titleize($ctrl.domainClass) }}
            </h1>

            <form class="form-inline pull-right hidden-xs">

                <button class="btn btn-default">New {{ $ctrl.singularize($ctrl.titleize($ctrl.domainClass)) }}</button>

                &nbsp;

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>

            </form>

            <form class="form visible-xs">

                <div class="form-group">
                    <button class="btn btn-default btn-block">New {{ $ctrl.singularize($ctrl.titleize($ctrl.domainClass)) }}</button>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>

            </form>

            <ul class="nav nav-tabs">

                <li class="active">
                    <a href="" data-target="#{{ $ctrl.domainClass }}" data-toggle="tab">{{ $ctrl.titleize($ctrl.domainClass) }}</a>
                </li>

                <li data-ng-repeat="child in $ctrl.children">
                    <a href="" data-target="#{{ child }}" data-toggle="tab">{{ $ctrl.pluralize($ctrl.titleize(child)) }}</a>
                </li>

            </ul>

            <div class="tab-content">

                <div id="{{ $ctrl.domainClass }}" class="tab-pane fade in active">

                    <table class="table table-responsive table-striped table-hover table-sortable">
                        <thead>

                            <tr>
                                <th data-ng-repeat="field in $ctrl.fields">

                                    <a href="">
                                        {{ $ctrl.titleize(field) }}
                                    </a>

                                    <div class="sort-indicator">
                                        <span class="fa-stack">
                                            <i class="fa fa-stack-1x fa-sort-asc"></i>
                                            <i class="fa fa-stack-1x fa-sort-desc"></i>
                                        </span>
                                    </div>

                                </th>
                            </tr>

                        </thead>
                        <tbody>

                            <tr data-ng-repeat="instance in $ctrl.instances">
                                <td data-ng-repeat="field in $ctrl.fields">

                                    <a href="" data-ng-if="$first">
                                        {{ instance[field] }}
                                    </a>

                                    <span data-ng-if="!$first">
                                        {{ instance[field] }}
                                    </span>

                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <div id="{{ child }}" class="tab-pane fade" data-ng-repeat="child in $ctrl.children">

                    <table class="table table-responsive table-striped table-hover table-sortable">
                        <thead>

                            <tr>
                                <th>

                                    <a href="">
                                        {{ $ctrl.singularize($ctrl.titleize($ctrl.domainClass)) + ' ' + $ctrl.titleize($ctrl.fields[0]) }}
                                    </a>

                                    <div class="sort-indicator">
                                        <span class="fa-stack">
                                            <i class="fa fa-stack-1x fa-sort-asc"></i>
                                            <i class="fa fa-stack-1x fa-sort-desc"></i>
                                        </span>
                                    </div>

                                </th>
                                <th data-ng-repeat="field in $ctrl.childFields(child)">

                                    <a href="">
                                        {{ $ctrl.titleize(field) }}
                                    </a>

                                    <div class="sort-indicator">
                                        <span class="fa-stack">
                                            <i class="fa fa-stack-1x fa-sort-asc"></i>
                                            <i class="fa fa-stack-1x fa-sort-desc"></i>
                                        </span>
                                    </div>

                                </th>
                            </tr>

                        </thead>
                        <tbody>

                            <tr data-ng-repeat="instance in $ctrl.instances">

                                <td>
                                    <a href="">{{ instance[$ctrl.fields[0]] }}</a>
                                </td>

                                <td data-ng-repeat="field in $ctrl.childFields(child)">
                                    {{ instance[child][field] }}
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

</div>
