histogram-chart {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  display: block;
}

histogram-chart text {
    fill: white;
}

histogram-chart rect.bar {
    fill: #2f7ed8;
    stroke: #ffffff;
    stroke-width: 1;
}

histogram-chart svg {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;font-size:12px;
    font-size: 12px;
}
