<div ng-controller="CfdChartCtrl">
	<highchart id="featureCfd" config="featureConfig"></highchart>
</div>

<div ng-controller="ControlChartCtrl">
	<highchart id="featureControl" config="featureConfig"></highchart>

	<highchart id="defectControl" config="defectConfig"></highchart>

	<highchart id="intangableControl" config="intangableConfig"></highchart>
</div>

<div ng-controller="HistogramChartCtrl">
	<highchart id="featureHistogram" config="featureConfig"></highchart>

	<highchart id="defectHistogram" config="defectConfig"></highchart>

	<highchart id="intangableHistogram" config="intangableConfig"></highchart>
</div>