

<div ng-controller="HistogramChartCtrl">
	<select ng-model="workType" ng-change="getWorkType(workType)" ng-options="t for t in workTypes"></select><br>
	Work Type: {{workType}}
	<highchart id="featureHistogram" config="featureConfig"></highchart>
</div>

<!-- <div ng-controller="CfdChartCtrl">
	<select ng-model="workType" ng-change="getWorkType(workType)" ng-options="t for t in workTypes"></select><br>
	Work Type: {{workType}}
	<highchart id="featureCfd" config="featureConfig"></highchart>
</div>
 -->
<div ng-controller="ControlChartCtrl">
	<select ng-model="workType" ng-change="getWorkType(workType)" ng-options="t for t in workTypes"></select><br>
	Work Type: {{workType}}
	<highchart id="featureControl" config="featureConfig"></highchart>
</div>