
<div ng-controller="HistogramChartCtrl">
	Class of Service: <select ng-model="workType" ng-change="getWorkType(workType)" ng-options="t for t in workTypes"></select><br>
	<highchart id="featureHistogram" config="featureConfig"></highchart>
</div>

<div ng-controller="ControlChartCtrl">
	Class of Service: <select ng-model="workType" ng-change="getWorkType(workType)" ng-options="t for t in workTypes"></select><br>
	<highchart id="featureControl" config="featureConfig"></highchart>
</div>

<div ng-controller="CfdChartCtrl">
	Class of Service: <select ng-model="workType" ng-change="getWorkType(workType)" ng-options="t for t in workTypes"></select><br>
	<highchart id="featureCfd" config="featureConfig"></highchart>
</div>
