<div class="sign-in">

    <div class="btn-group btn-g-blue navbar-btn" data-ng-if="!auth.isReady()">

        <div class="btn btn-g-icon">
            <i class="icon-g" data-ng-class="{ 'fa-spin': !auth.isReady() }"></i>
        </div>

    </div>

    <div class="btn-group btn-g-blue navbar-btn" data-ng-if="auth.isReady() && !auth.isSignedIn()" data-ng-click="auth.signIn()">

        <div class="btn btn-g-icon">
            <i class="icon icon-g"></i>
        </div>

        <div class="btn btn-g-text">
            Sign in with Google
        </div>

    </div>

    <div data-ng-transclude data-ng-if="auth.isReady() && auth.isSignedIn()"></div>

</div>
