@import (reference) "../bower_components/bootstrap/less/variables";
@icon-font-path: "../bower_components/bootstrap/fonts/"; // trailing slash is important!

/* DI Brand colors */
@di-green: #78BE20;
@di-green-text: #77BC1F;

