a {
  text-decoration: none;
  color: grey;
}

a:hover,
a:active {
  color: lightgrey;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

a.logo {
  color: black;
}

.user-photo {
  border-radius: 50%;
  height: 32px;
  max-width: 32px;
  width: 100%;
  background-color: black;
}
