<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
      	type="email" 
	matInput 
	placeholder="Your Email" 
	ngModel 
	name="email"
 	required
	email
	#emailInput="ngModel">
      	<mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
	<mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      	type="password" 
	matInput 
	placeholder="Your password" 
	ngModel 
	name="password"
	required
	minlength="6"
	#pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-hint>Should be at least 6 characters long.</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary"[disabled]="f.invalid">Submit</button>
  </form>
</section>
