mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover,
a:active {
  color: lightgrey;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.logo {
  color: black;
}
