<nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://www.leansheets.org">LeanSheets</a>

    </div>

    <div id="navbar" class="collapse navbar-collapse">

        <ul class="nav navbar-nav">

            <li>
                <a href="https://github.com/paulsjv/leansheets/blob/master/README.md">Quick Start</a>
            </li>

            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Charts <span class="caret"></span></a>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#nav-histogram">Histogram</a></li>
                    <li><a href="#nav-leadtimerun">Lead Time Run</a></li>
                    <li><a href="#nav-cfd">Cumulative Flow</a></li>
                </ul>

            </li>

        </ul>

        <div class="navbar-right">

            <div data-g-login-button>
                <!--<div class="text-center">-->
                    <!--<span class="fa fa-2x fa-spinner fa-spin"></span>-->
                <!--</div>-->
            </div>

        </div>

    </div>

</nav>
