<!doctype html>
<html>
    <head>

        <title>LeanSheets</title>

        <!-- build:style thirdParty -->
        <!-- /build -->

        <!-- build:style app -->
        <!-- /build -->

        <!-- build:remove -->
        <link rel="stylesheet/less" type="text/css" href="less/main.less" />

        <script src="bower_components/less/dist/less.min.js" type="text/javascript"></script>
        <!-- /build -->

    </head>
    <body data-ng-csp data-ng-controller="ls-applicationController">

        <!-- build:section partials._header -->
        <!-- /build -->
        <div data-ng-if="initialLoad">
            <p>Loading Application....</p>
        </div>
        <div class="container-fluid di-flex-box" data-ng-cloak> 

            <div id="histogramChart">
                Class of Service: <select ng-model="workType" ng-change="getWorkType(workType)" ng-options="workType.name for workType in workTypes"></select><br>
                <highchart id="featureHistogram" config="featureConfig"></highchart>
            </div>

            <div data-ng-bind="helloWorld"></div>
            <div data-ng-bind="serviceHello"></div>
            <div data-ng-bind="factorySupportHello"></div>
            <div data-custom-directive></div>
        </div>

        <!-- build:section partials._footer -->
        <!-- /build -->

        <!-- build:script app -->
        <!-- /build -->

        <!-- build:remove -->
        <script type="text/javascript" src="bower_components/requirejs/require.js"></script>
        <script type="text/javascript" src="js/config.js"></script>
        <script type="text/javascript">
            (function(require) {
                'use strict';

                require.config({
                    baseUrl: 'js'
                });

                require(['jquery'], function($) {

                    // enables includes in dev mode
                    var includePattern = /build:section[\s]+(.+)/,
                        match,
                        includeUrl,
                        $include;

                    $("*").contents().filter(function(){
                        return this.nodeType == 8;
                    }).each(function(index, elem){
                        if (includePattern.test(elem.nodeValue)) {

                            match = elem.nodeValue.match(includePattern)[1];
                            includeUrl = match.replace(/\./g, '/').trim() + '.html';

                            $include = $('<div></div>').load(includeUrl, function () {
                                $(this).children().unwrap();
                            });

                            $include.insertAfter(elem);

                        }
                    });

                    // simulate almond require main
                    require(['main'], function() {});

                });

            }(require));

        </script>
        <!-- /build -->

    </body>
</html>
